

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#canvas{
    border: 1px solid black;
    background: black;
}

.start-button{
    margin-top: 20px;
}